    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: rgb(216, 158, 33);
    }

    .navbar-brand{
    max-height: 35px;
    }


    nav{
        box-shadow: 0 10px 4px rgba(0, 0, 0, 0.174);
        padding-bottom: 5px;
    }

    .navbar{
        background-color: rgb(156, 123, 12);
        padding-bottom: 15px;
    }

    .container-fluid img{
        max-height: 35px;
    }


    .banner{
        background-color: white;
        min-height: calc(100vh - 56px);
        background-image: url("https://th.bing.com/th/id/R.85b1172d735d3d44af729e108ccd418a?rik=4eZSIh2JYqGnbg&pid=ImgRaw&r=0");
        background-position: center;
        background-size:cover;
        background-repeat: no-repeat;
    }

    .form-check:hover {
        cursor: pointer;
    }
    .form-check-input {
        cursor: pointer;
    }

    .form-check-label {
        cursor: pointer;
    }

    .form-check-input.rounded-circle {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        cursor: pointer;
    }

    .form-check-input.rounded-circle:checked {
        background-color: #007bff;
        border-color: #007bff;
    }

    .form-check-input.rounded-circle:checked::before {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .border-secondary{
        background-color: gray;
    }

    .booksContainer a{
        text-decoration: none;
    }

    .userbooksContainer a{
        text-decoration: none;
    }

    .book-card {
        height: 100%;
    }

    .card {

        height: auto;
        color: wheat;
        background-color: black;
    }

    svg{
        width: 40px;
        }

    li{
        list-style-type: none;
    }
    li a{
        text-decoration: none;
        color: black;
    }

    
    .card img {
        /* min-height: 122px; */
        object-fit: cover;
    }

    .height{
        background-color: rgb(41, 31, 49);
    }

    .img-fluid{
        min-height: 400px;
    }

    .card-hover {
        transition: transform 0.6s ease;
    }

    a{
        list-style: none;
        text-decoration: none;
    }
    .card-hover:hover {
        transform: scale(1.05);
    }

    .book-card img {
        transition: transform 0.3s ease;
    }

    .book-card:hover img {
        transform: scale(1.1);
    }

    .btn-gray{
        transition: transform 0.4s ease;
    }

    .btn-gray :hover {
        transform: scale(1.05);
    }
    .btn-gray :hover {
        transform: scale(1.05);
    }
    .categories .form-check-inline {
        margin-right: 10px;
    }
    #comments-badge {
        display: none; /* Initially hide the badge */
        background-color: red; /* Background color of the badge */
        color: white; /* Text color of the badge */
        font-size: 12px; /* Font size of the text */
        padding: 4px 8px; /* Padding inside the badge */
        border-radius: 50%; /* Rounded corners for a circular badge */
        position: absolute; /* Position it relative to its parent */
        top: 10px; /* Adjust position from the top */
        right: 10px; /* Adjust position from the right */
    }

    .footer {
        width: 100%;
        background-color: #d7bb54;
        background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%); /* Gradient background */
        bottom: 0;
    }

    .vh{
        min-height: calc(100vh - 230px);
    }

    @media (max-height: 800px) {
        .img-fluid{
            min-height: 400px;
        }
    }

